<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>Home</li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>ToDo-App</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <h1>Example To Do-App</h1>

      <div nz-row nzGutter="0">
        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="16">
          <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="Input your to do tasks..." (keydown.enter)="addItem()" [(ngModel)]="value" />
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" [disabled]="!this.value" (click)="addItem()" nzSearch>Add Item</button>
          </ng-template>
        </div>
        <div nz-col nzSpan="4"></div>
      </div>
      <br/>
      <div nz-row nzGutter="0">
        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="16">
          <h3>Pending Tasks ({{pendingData.length}})</h3>
          <div *ngFor="let itm of pendingData">
            <label nz-checkbox [(ngModel)]="itm.status" (ngModelChange)="movetoCompleted(itm)">{{itm.item}}</label>
            <a nz-button nzSize="small" style="float: right;" nzType="text" nzDanger (click)="delete(itm)"><i nz-icon nzType="close" nzTheme="outline"></i></a>
            <br/>
            <br/>
          </div>
        </div>
        <div nz-col nzSpan="4"></div>
      </div>
      <br/>
      <div nz-row nzGutter="0">
        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="16">
          <h3>Completed Tasks ({{completedData.length}})</h3>
          <div *ngFor="let itm of completedData">
            <label [class.underline]="itm.status === true"[(ngModel)]="itm.status" (ngModelChange)="movetoPending(itm)" nz-checkbox>{{itm.item}}</label>
            <a nz-button nzSize="small" style="float: right;" nzType="text" nzDanger (click)="delete(itm)"><i nz-icon nzType="close" nzTheme="outline"></i></a>
            <br/>
            <br/>
          </div>
        </div>
        <div nz-col nzSpan="4"></div>
      </div>
      <nz-divider></nz-divider>
      <h1>Modules Used in this Project:</h1> 
        <ul>
          <li><b>Source Code:</b><a href="https://www.google.com/" target="_blank"> GitHub</a></li>
          <li><b>Framework:</b><a href="https://angular.io/"> Angular</a></li>
          <li><b>Back-end/Storage:</b><a href="https://firebase.google.com/"> Google Firebase</a></li>
          <li><b>UI Component</b><a href="https://ng.ant.design/docs/introduce/en"> Ant-D NG-Zorro</a></li> 
        </ul>

        <h1> My Profile: </h1>
        <ul>
          <li><b>LinkedIn:</b><a href="https://www.linkedin.com/in/mohd-farhan-muhamad-fazli-693b7912b/" target="_blank"> LinkedIn</a></li>
          <li><b>GitHub:</b><a href="https://github.com/paanjoe" target="_blank"> GitHub Profile</a></li>
        </ul>
    </div>
  </nz-content>
  <nz-footer>Paan Joe © 2021 Implement using Angular</nz-footer>
</nz-layout>